html body,
ul,
li,
p h1 {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: black;
}

body {
  background-image: url(../img/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
}

.header {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 2px 20px;
}

.header img {
  max-width: 50%;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
}

.menu li {
  margin-bottom: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
}

.menu li a:hover {
  color: rgb(67, 67, 253);
  transition: 0.3s ease;
}

.menu li a img {
  max-width: 30px;
}

.menu li a button {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 14px;
}

.menu li a button:hover {
  background-color: black;
  color: white;
  transition: 0.3s ease;
}

.cta {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 50px;
  margin-left: 150px;
  height: 500px;
  padding: 30px;
}

.ctaTitle {
  margin-bottom: 50px;
  width: 70%;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
}

.ctaText {
  margin-bottom: 100px;
  width: 70%;
  color: white;
}

.ctaText p {
  font-size: 20px;
}

.ctaButton {
  max-width: 25%;
}

.ctaButton button {
  background-color: #31eeb3;
  color: black;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 8px;
  font-size: 16px;
}

.ctaButton button:hover {
  background-color: white;
  color: black;
  transition: 0.3s ease;
}

.ctaButton button img {
  max-width: 10px;
}

@media (max-width: 1400px) {
  body {
    height: 600px;
  }

  .cta {
    margin-left: 40px;
  }

  .ctaTitle {
    font-size: 15px;
  }

  .ctaText p {
    font-size: 14px;
  }

  .ctaButton {
    max-width: 35%;
  }

  .ctaButton button {
    font-size: 14px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body {
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
  }

  .header {
    margin: 0;
    padding: 0;
    justify-content: center;
  }

  .logo {
    max-width: 50%;
    text-align: end;
    margin: 5px;
  }

  .menu {
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    width: 80px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
  }

  .menu li a {
    font-size: 13px;
  }

  .cta {
    margin: 0;
    margin-top: 50px;
    padding: 0;
    width: 100%;
    align-items: flex-end;
  }

  .ctaTitle {
    margin: 0;
    margin-bottom: 50px;
    margin-right: 8px;
    font-size: 10px;
    text-align: center;
  }

  .ctaText {
    text-align: center;
    margin-bottom: 50px;
    margin-right: 8px;
  }

  .ctaText p {
    font-size: 16px;
  }

  .ctaButton {
    position: fixed;
    bottom: 20px;
    max-width: 100%;
    margin-right: 15px;
  }
}
